.pagination{
  position: absolute;
  top: 156px;
  left: 305px;
  mix-blend-mode: luminosity;
}

  .back{
    position: absolute;
    top: 50%;
    left: -5%;
    color: rgb(255, 255, 255);
    width: 45px;
  }

  .next{
    position: absolute;
    top: 50%;
    left: 96%;
    color: rgb(255, 255, 255);
    width: 45px;
  }
