.footer{
    font-size: 14px;
  position:relative;
  top: 85px;
  overflow: hidden;
}
.me-5{
  color: black;
}
.tabel{
  background-color: black;
  width: 450px;
  overflow: hidden;
}
.icon{
    color: white;
    
}
