html, body {
	height: 100%;
	}
	footer {
	color: #666;
	background: #222;
	position: inherit;
	bottom: 0px;
	padding: 17px 0 50px 0;
	border-top: 1px solid #000;
	}
	footer a {
	color: #999;
	}
	footer a:hover {
	color: #efefef;
	}
	.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px;
	}
	.push {
	height: 63px;
	}
	/* not required for sticky footer; just pushes hero down a bit */
	.wrapper > .container {
	padding-top: 60px;
	}
	.judulft {
		text-align: center;
	}
	.judulft h1{
		color:white;
		font-family: 'Times New Roman', Times, serif;
	}
	.judulft h4{
		color:white;
		font-family: 'Courier New', Courier, monospace;
	}
	.judulft h2{
		color:white;
		font-family: 'Times New Roman', Times, serif;
	}
	.lsosmed{
		list-style: none;
	  }
	  .lsosmed{
		list-style: none;
	  }
	  .sosmed h4{
		position: absolute;
		  right: -2px;
		  color: black;
		  bottom: -56px; 
		  text-align: center;
		  font-size: unset;
	  }
	  .sosmed a{
		  position: absolute;
		  left: 48%;
		  top: 110%;
		
	  }
	  .sosmed .twt{
		  position: absolute;
		  left: 43%;
	  }
	  .sosmed .ig{
		position: absolute;
		left: 58%;
	  }
	  .sosmed .mbah{
		position: absolute;
		left: 53%;
	  }	
	  .join{
		  position: relative;
		  left: 50px;
		  bottom: 124px;
		  font-size: large;
		  font-family: 'Courier New', Courier, monospace;
	  }
	  .btnbtn-info{
		  background-color: none;
	  }