@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
body{
    min-width: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(rgba(118,184,213,0.92));
}
html, body {
    margin: 0; height: 100%;
}
.title{
    color: white;
}
.title2{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.title:hover{
    color: black;
    padding-bottom: 10px;
    cursor: pointer;
}
.container .sidebar{
    width: 250px;
    height: 100vh;
    background: #2f3640;
    position: relative;
    opacity: 0.8;
    border-right: 2px solid #eee;
}
.container .sidebar ul{
    list-style: none;
    position: absolute;
    width: 100%;
    height: 15%;
    top: 15%;
}
.container .sidebar ul li{
    position: relative;
    width: 100%;
}
.container .sidebar ul li a{
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    line-height: 60px;
    white-space: nowrap;
}
.container .sidebar ul li:hover{
    background: #bfbfbb;
    box-shadow: 0 0 10px #efff;
    border-radius: 10px;
}
.container .sidebar ul li a:hover{
    color: black;
}
.icon .btn1:hover{
    padding-bottom: 10px;
    padding-top: 10px;
}
.icon .btn2:hover{
    padding-bottom: 10px;
    padding-top: 10px;
}
.icon .btn3:hover{
    padding-bottom: 10px;
    padding-top: 10px;
}
.btnlog{
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 50px;
    border-radius: 15px;
    font-family: 'Bebas Neue', cursive;
}
.huhe{
    color: #eee;
    position: absolute;
    left: 490px;
    top: 1px;
    width: 50%;
}
.tuing{
    text-size-adjust: 150px;
    text-align: center;
}
.not-1{
    overflow: auto;  
}
.not-1 thead th {
    position: sticky;
}
.adm1 th,td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
.adm1{
    background: #5463FF;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    position: absolute;
    right: 0px;
    top: 205px;
    empty-cells: show;
    width: 1117px;
    height: 90px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: scroll;
}
.adm1 tbody{
    width: 1117px;
    height: 90px;
}
tr:hover {
    background-color: coral;
}
td, th {
    padding: 0.5rem;
    text-align: center;

}
.tb1{
    text-align: left;
}
.tinot{
    color: white;
    position: absolute;
    top: 150px;
    left: 260px;
    letter-spacing: 1px;
}
.em{
    font-family: sans-serif
}